mixin link(href, name)
	a(href=href)&attributes(attributes)= name

mixin list(name, count, src)
	ul(class=name + '__list')&attributes(attributes)
		- var i = 1
		while i <= count
			li(class=name + '__item')
				div(class=name + '__item-inner')
					img(class=name + '__img', src=src + i + '.jpg')
					if block
						block
					- i++

mixin section(name)
	section(class=name)&attributes(attributes)
		div(class='g--wrapper ' + 'g--wrapper_p' + name + '__wrapper')
			if block
				block
			else
				return

mixin svg(name, type)
	svg(class='svg-' + name + '-dims')
		if type
			use(xlink:href='#' + name, class= type)
		else
			use(xlink:href='#' + name)

